.container{
    background: #eee8e8;
    border-radius: 20px;
}
html,body{
    background: #717676!important;
}
.card{
    width: 18rem;
    margin:20px;
    border-radius:20px;
}
.col{
    margin: 100px;
    background: #221d78;
}
.imageBook{
    border-radius: 20px;
    width: 100px;
    height: auto;
}
.description{
    font-family: "Berlin Sans FB", cursive;
}
